<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="pageTitle">
会員管理
</title>
</head>
<body id="body">
	<span id="allMessages"/>
	<form method="post">
		<input type="submit" name="register" value="登録"/>
	</form>
	<table border="1">
		<thead>
			<tr>
				<th>
					ユーザID
				</th>
				<th>
					ユーザ名
				</th>
				<th>
					メールアドレス
				</th>
				<th>
					ステータス
				</th>
				<th>
					アクション
				</th>
			</tr>
		</thead>
		<tbody id="userItems">
			<tr　id="line">
				<td>
					<span id="userId"></span>
				</td>
				<td>
					<span id="userName"></span>
				</td>
				<td>
					<span id="email"></span>
				</td>
				<td>
					<div id="isStatusDisable">無効</div>
					<div id="isStatusEnable">有効</div>
					<div id="isStatusSuspend">一時停止</div>
				</td>
				<td>
					<form method="post">
						<input type="hidden" id="targetUserId" name="targetUserId"/>
						<input type="submit" name="delete" value="削除"/>
						<input type="submit" name="edit" value="編集"/>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
