<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="pageTitle">
会員登録
</title>
</head>
<body id="body">
	<span id="allMessages"/>
	<form method="post">
		<input type="hidden" id="userId" name="userId"/>
		<input type="hidden" id="versionNo" name="versionNo"/>
		<table>
			<tr>
				<th>
					ユーザ名
				</th>
				<td>
					<input type="text" id="userName" name="userName"/>
				</td>
			</tr>
			<tr>
				<th>
					メールアドレス
				</th>
				<td>
					<input type="text" id="email" name="email"/>
				</td>
			</tr>
			<tr>
				<th>
					姓
				</th>
				<td>
					<input type="text" id="lastName" name="lastName"/>
				</td>
			</tr>
			<tr>
				<th>
					名
				</th>
				<td>
					<input type="text" id="firstName" name="firstName"/>
				</td>
			</tr>
			<tr>
				<th>
					ステータス
				</th>
				<td>
					<select name="userStatus">
						<span id="userStatusItems">
					  		<option id="userStatusOption">
					  			<span id="userStatusLabel">dummy</span>
					  		</option>
						</span>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="isCreate">
						<input type="submit" name="submit" value="登録"/>
					</div>
					<div id="isUpdate">
						<input type="submit" name="submit" value="更新"/>
					</div>
					<input type="submit" name="index" value="戻る"/>
				</td>
			</tr>
        </table>
	</form>
</body>
</html>
