<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<span id="allMessages"/>
	<form method="post">
		<table>
        	<thead>
        	<tr>
            	<th>
                	起動日時
                </th>
                <th>
                	テキスト
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            	<td>
                	<input type="text" id="wakeUpDate" name="wakeUpDate"/>
                </td>
                <td>
                	<input type="text" id="wakeUpText" name="wakeUpText"/>
                </td>
            </tr>
            <tr>
            	<td colspan="2"><input type="button" name="submit" value="登録"/></td>
            </tr>
            </tbody>
        </table>
	</form>
</body>
</html>
