<html xmlns:m="http://mayaa.seasar.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<span id="allMessages"/>
	<form method="post">
		<table>
		<tr>
			<td>ユーザID</td>
			<td>
				<input type="text" id="userId" name="userId"/>
			</td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td>
				<input type="text" id="password" name="password"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="submit"/>
			</td>
		</tr>
		</table>
	</form>
</body>
</html>
