<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:m="http://mayaa.seasar.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="./../../../css/global.css"/>
</head>
<body>

<div m:id="errors"></div>

<form m:id="form">
        <input m:id="eventId" type="hidden" />
        <input m:id="versionNo" type="hidden" />
<table class="tablebg">
	<tr>
		<td> eventDate </td>
		<td>
		    <input m:id="eventDate" type="text" />
		</td>	
	</tr>
	<tr>
		<td> eventText </td>
		<td>
		    <input m:id="eventText" type="text" />
		</td>	
	</tr>
	<tr>
		<td> eventStatus </td>
		<td>
		    <input m:id="eventStatus" type="text" />
		</td>	
	</tr>
	<tr>
		<td> createDate </td>
		<td>
		    <input m:id="createDate" type="text" />
		</td>	
	</tr>
	<tr>
		<td> updateDate </td>
		<td>
		    <input m:id="updateDate" type="text" />
		</td>	
	</tr>

</table>

<input type="submit" name="update" value="UPDATE" />
</form>
<br/><br/>

<a m:id="listLink" href="list.html">list page</a>

<body>
</html>