<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="pageTitle">
イベント管理
</title>
</head>
<body id="body">
	<span id="allMessages"/>
	<form method="post">
		<table>
        	<thead>
        	<tr>
            	<th>
                	起動日時
                </th>
                <th>
                	コマンド
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            	<td>
                	<input type="text" id="eventDate" name="eventDate"/>
                </td>
                <td>
                	<input type="text" id="eventText" name="eventText" size="30"/>
                </td>
            </tr>
            <tr>
            	<td colspan="2"><input type="submit" name="submit" value="登録"/></td>
            </tr>
            </tbody>
        </table>
		<table border="1">
			<thead>
				<tr>
					<th>No</th>
					<th>起動日時</th>
					<th>コマンド</th>
					<th>ステータス</th>
					<th>アクション</th>
				</tr>
			</thead>
			<div id="resultEventItems">
				<tr id="line" style="background-color:pink">
					<td><span id="resultEventId"/></td>
					<td><span id="resultEventDate"/></td>
					<td><span id="resultEventText"/></td>
					<td>
						<div id="isStatusNone"><span id="resultEventStatus">未実行</span></div>
						<div id="isStatusIng"><span id="resultEventStatus">実行中</span></div>
						<div id="isStatusDone"><span id="resultEventStatus">実行済</span></div>
						<div id="isStatusErr"><span id="resultEventStatus">実行エラー</span></div>
					</td>
					<td>
						<input type="hidden" id="deleteEventId" name="deleteEventId"/>
						<input type="submit" name="delete" value="削除"/>
					</td>
				</tr>
			</div>
		</table>
	</form>
</body>
</html>
