<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:m="http://mayaa.seasar.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="./../../../css/global.css"/>
</head>
<body>

<div m:id="errors"></div>

<table class="tablebg">
	<tr>
		<td> eventDate </td>
		<td>
			<span m:id="eventDate">eventDate</span>
		</td>	
	</tr>
	<tr>
		<td> eventText </td>
		<td>
			<span m:id="eventText">eventText</span>
		</td>	
	</tr>
	<tr>
		<td> eventStatus </td>
		<td>
			<span m:id="eventStatus">eventStatus</span>
		</td>	
	</tr>
	<tr>
		<td> createDate </td>
		<td>
			<span m:id="createDate">createDate</span>
		</td>	
	</tr>
	<tr>
		<td> updateDate </td>
		<td>
			<span m:id="updateDate">updateDate</span>
		</td>	
	</tr>

</table>

<a m:id="editLink" href="edit.html"> edit </a>

<br/><br/>
<a m:id="listLink" href="list.html">list page</a>
<body>
</html>