<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<span id="allMessages"/>
	<form method="post">
		<input type="text" id="arg1" name="arg1"/>
		 + 
		 <input type="text" id="arg2" name="arg2"/>
		  = 
		<span id="result" name="result"/>
		<input type="submit" name="submit" value="calc"/>
	</form>
</body>
</html>
