<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="./../../../css/base.css" rel="stylesheet" type="text/css">
<title id="pageTitle">
ダミータイトル
</title>
</head>
<body>
<div id="wrapper">
	<div id="header"/>
	<div id="container">
		<div id="secondary">
			<div id="menu"/>
		</div>
		<div id="primary">
			<div id="content">
				<div id="body"/>
			</div>
		</div>
	</div>
	<div id="footer"/>
</div>

</body>
</html>